/* SITEWIDE SETUP */
@import url("https://fonts.googleapis.com/css?family=Oswald|Proza+Libre");
/* line 10, ../scss/mystyles.scss */
body {
  color: #464f41;
  background: #C2D59C;
  font-family: 'Proza Libre', sans-serif; }

/* line 16, ../scss/mystyles.scss */
hr {
  border-color: #464f41 !important; }

/* line 20, ../scss/mystyles.scss */
.well {
  background: #fff;
  border-radius: 0;
  border: 1px solid #464f41; }

/* FORMS */
/* line 28, ../scss/mystyles.scss */
.form-control {
  border-radius: 0; }

/* LINKS & BUTTONS */
/* line 34, ../scss/mystyles.scss */
a, a:focus, .btn-link, .btn-link:focus {
  color: #9ba894;
  outline: 0 !important; }
  /* line 38, ../scss/mystyles.scss */
  a h3, a:focus h3, .btn-link h3, .btn-link:focus h3 {
    color: #464f41; }
  /* line 41, ../scss/mystyles.scss */
  a h3:hover, a:focus h3:hover, .btn-link h3:hover, .btn-link:focus h3:hover {
    color: #9ba894; }

/* line 46, ../scss/mystyles.scss */
a:hover, .btn-link:hover {
  color: #464f41;
  text-decoration: none;
  font-weight: bold; }

/* line 52, ../scss/mystyles.scss */
.btn-default {
  border-radius: 0; }

/* line 56, ../scss/mystyles.scss */
.btn-primary {
  background: #fff;
  color: #464f41;
  border: 1px solid #464f41;
  border-radius: 0;
  outline: 0 !important; }

/* line 64, ../scss/mystyles.scss */
.btn-primary:hover {
  color: #9ba894;
  border-color: #9ba894;
  background: #fff; }

/* line 70, ../scss/mystyles.scss */
.active {
  background: transparent !important; }

/* NAVIGATION */
/* line 76, ../scss/mystyles.scss */
#navbar {
  padding-top: 70px;
  font-size: 1.1em;
  border-bottom: 1px solid #464f41;
  background: #fff;
  opacity: 0.95;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  /* line 85, ../scss/mystyles.scss */
  #navbar img {
    margin-top: -70px;
    width: 100px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  /* line 92, ../scss/mystyles.scss */
  #navbar .navbar-brand {
    font-size: 2em;
    color: #464f41;
    font-family: 'Oswald', sans-serif;
    margin-top: -7.5px; }

/* line 100, ../scss/mystyles.scss */
.shrinkBar {
  padding-top: 10px !important; }

/* line 104, ../scss/mystyles.scss */
.shrinkImg {
  margin-top: -15px !important;
  width: 47.5px !important; }

/* MAIN CONTENT */
/* line 111, ../scss/mystyles.scss */
.main-container {
  margin-top: 85px; }

/* line 115, ../scss/mystyles.scss */
.views-view-grid {
  width: 100%; }

/* ABOUT PAGE */
/* line 121, ../scss/mystyles.scss */
#about-hero {
  width: 80%;
  margin: 10px 10% 0 10% !important;
  border: 1px solid #9ba894; }

/* line 127, ../scss/mystyles.scss */
#hero-img-wrapper {
  margin-bottom: 30px;
  text-align: center; }

/* line 132, ../scss/mystyles.scss */
#hero-img-link {
  position: relative;
  bottom: 120px;
  font-size: 2.2em;
  color: white;
  text-shadow: 1px 1px 1px #464f41;
  font-family: 'Oswald', sans-serif; }
  /* line 140, ../scss/mystyles.scss */
  #hero-img-link:hover {
    color: #cad1c7; }

/* line 145, ../scss/mystyles.scss */
.page-node-5 .page-header {
  display: none; }

/* line 149, ../scss/mystyles.scss */
.page-node-5 p {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 40px; }

/* line 156, ../scss/mystyles.scss */
.pagination li a {
  color: #464f41; }
  /* line 159, ../scss/mystyles.scss */
  .pagination li a:hover {
    color: #464f41; }
/* line 164, ../scss/mystyles.scss */
.pagination li span {
  background-color: #C2D59C !important;
  border-color: #cad1c7 !important; }

/* STORE DISPLAY */
/* line 171, ../scss/mystyles.scss */
.store-item article {
  margin-bottom: 20px;
  border: 1px solid #464f41;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 1px 1px 1px #9ba894; }
  /* line 178, ../scss/mystyles.scss */
  .store-item article img {
    width: 100%;
    border-bottom: 1px solid #9ba894; }
  /* line 183, ../scss/mystyles.scss */
  .store-item article header, .store-item article .node-readmore, .store-item article .commerce-product-title-label {
    display: none; }
  /* line 187, ../scss/mystyles.scss */
  .store-item article .commerce-product-title {
    font-size: 1.25em;
    text-align: left;
    padding: 5px 5px 0 5px; }
  /* line 193, ../scss/mystyles.scss */
  .store-item article .field-name-commerce-price > div > div {
    text-align: right;
    padding: 0 5px; }
  /* line 198, ../scss/mystyles.scss */
  .store-item article:hover {
    box-shadow: 2px 2px 2px #9ba894;
    margin: -2px 2px 22px -2px; }

/* PRODUCT DISPLAY */
/* line 207, ../scss/mystyles.scss */
.page-node .node-product-display img {
  margin: 10px auto;
  border: 1px solid #464f41; }
/* line 212, ../scss/mystyles.scss */
.page-node .node-product-display .field-commerce-price {
  margin-left: 30%;
  width: 20%;
  display: inline-block; }
  /* line 217, ../scss/mystyles.scss */
  .page-node .node-product-display .field-commerce-price .field-items {
    margin-left: 15%; }
/* line 222, ../scss/mystyles.scss */
.page-node .node-product-display .field-type-commerce-product-reference {
  width: 20%;
  display: inline-block; }
  /* line 226, ../scss/mystyles.scss */
  .page-node .node-product-display .field-type-commerce-product-reference select {
    width: 100px;
    text-align: center;
    border: 1px solid #464f41; }
  /* line 232, ../scss/mystyles.scss */
  .page-node .node-product-display .field-type-commerce-product-reference button {
    border: 1px solid #464f41; }
/* line 237, ../scss/mystyles.scss */
.page-node .node-product-display .field-name-body {
  width: 90%;
  margin: 20px 5%; }
/* line 242, ../scss/mystyles.scss */
.page-node .node-product-display .field-field-tags {
  width: 90%;
  margin: 0 5%; }
/* line 247, ../scss/mystyles.scss */
.page-node .node-product-display .field-name-field-type {
  width: 50%;
  margin-left: 50%; }

/* BLOG DISPLAY */
/* line 255, ../scss/mystyles.scss */
.page-blog .main-container .page-header {
  display: none; }

/* line 261, ../scss/mystyles.scss */
.blog-article header {
  border-bottom: 1px solid #cad1c7;
  margin-bottom: 10px; }
/* line 266, ../scss/mystyles.scss */
.blog-article .comment-add, .blog-article .comment_forbidden {
  display: none; }
/* line 270, ../scss/mystyles.scss */
.blog-article .node-readmore {
  margin-top: 5px;
  font-size: 1.25em; }

/* line 276, ../scss/mystyles.scss */
.node-article {
  padding: 0 20px 20px 20px; }
  /* line 279, ../scss/mystyles.scss */
  .node-article img {
    width: 90%;
    margin: 0 5% 20px 5%; }

/* line 285, ../scss/mystyles.scss */
.page-user .main-container .well {
  max-width: 700px;
  margin: 0 auto; }

/* SIDEBAR */
/* line 292, ../scss/mystyles.scss */
.line-item-summary-checkout a {
  display: none; }

/* line 296, ../scss/mystyles.scss */
.line-item-summary-view-cart {
  width: 100%;
  text-align: center;
  padding-top: 10px; }
  /* line 301, ../scss/mystyles.scss */
  .line-item-summary-view-cart a {
    font-size: 1.1em;
    padding: 5px 20px;
    border: 1px solid #9ba894; }
    /* line 306, ../scss/mystyles.scss */
    .line-item-summary-view-cart a:hover {
      border-color: #464f41; }

/* line 312, ../scss/mystyles.scss */
#block-views-categories-block h2 {
  border-bottom: 1px solid #cad1c7;
  padding-bottom: 5px; }

/* FOOTER */
/* line 319, ../scss/mystyles.scss */
#footer {
  color: white;
  text-align: center; }
  /* line 323, ../scss/mystyles.scss */
  #footer hr {
    border-color: white;
    margin-bottom: 15px; }

@media screen and (min-width: 992px) {
  /* line 330, ../scss/mystyles.scss */
  #navbar-collapse > nav > ul {
    float: right; } }
@media screen and (max-width: 991px) {
  /* line 336, ../scss/mystyles.scss */
  .container {
    width: 95%; } }
